@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-abhaya: "Abhaya Libre", serif;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #root {
    overflow-x: hidden;
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}